# TODO: change to -d and unpin fakeredis once katsdpdockerbase updates fakeredis
-d https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-build/base-requirements.txt

async_timeout
fakeredis[lua]
lupa==1.9                  # via fakeredis[lua]
packaging
pyparsing                  # via packaging
pytest
pytest-asyncio==0.19.0
pytest-cov
python-lzf==0.2.4
rdbtools
