# TODO: change to -d and unpin fakeredis once katsdpdockerbase updates fakeredis
-d https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-build/base-requirements.txt

async_timeout
fakeredis[lua]
lupa                       # via fakeredis[lua]
pytest
pytest-asyncio==0.20.3
pytest-cov
python-lzf==0.2.4
rdbtools
